<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="card text-center">
				<div class="card-header">
					<h2>Formación Académica</h2>
				</div>
				<div class="card-body">
					<form action="/update/formacion/{{id}}" method="post" accept-charset="utf-8">
						{{#each persona}}
							<input type="hidden" name="id_pc" value="{{id}}">
							<input type="hidden" name="id_persona" value="{{id_persona}}">
							<input type="hidden" name="id_titulo" value="{{id_titulo}}">
							<div class="row">
								<div class="col-md-2">
									<div class="form-group">
										<select name="id_tipo_titulo" class="form-control">
											{{#each ../tipo_titulo}}
												{{#if_eq id ../id_tipo_titulo }}
													<option value="{{id}}" selected>{{descripcion}}</option>
												{{else}}
													<option value="{{id}}">{{descripcion}}</option>
												{{/if_eq}}
											{{/each}}
										</select>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<input type="text" name="curso" class="form-control" value="{{curso}}">
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<select name="id_casa_de_estudio" class="form-control">
											{{#each ../casa_de_estudio}}
												{{#if_eq id ../id_casa_de_estudio}}
													<option value="{{id}}" selected>{{nombre}}</option>
												{{else}}
													<option value="{{id}}">{{nombre}}</option>
												{{/if_eq}}
											{{/each}}
										</select>
									</div>
								</div>
								<div class="col-md-2">
									<div class="form-group">
										<a href="/delete/formacion/{{id}}" class="btn btn-danger form-control">Eliminar</a>
									</div>
								</div>
							</div>
						{{/each}}
						<div class="row">
							<div class="col-md-4 mx-auto">
								<div class="form-group">
									<button class="btn btn-success btn-block">Actualizar</button>
								</div>
							</div>
						</div>
					</form>
					<div class="container">
						<a href="/add/formacion/{{id}}" title="" class="btn btn-secondary" style="float: right;">Agregar Nuevo Registro</a>
					</div>
				</div><!--CARD BODY PRINCIPAL-->
			</div>
		</div>
	</div>
</div>