<div class="container">
	<div class="row">
		<div class="col-md-12 mx-auto">
			<div class="card text-center">
				<div class="card-header">
					<h2>Habilidades</h2>
				</div>
				<div class="card-body text-center">
					<form action="/update/habilidades/{{id}}" method="post" accept-charset="utf-8">
						<div class="container mx-auto">
							{{#each persona}}
								<input type="hidden" name="id_hp" value="{{id}}">
								<input type="hidden" name="id_persona" value="{{id_persona}}">
								<input type="hidden" name="id_habilidad" value="{{id_habilidad}}">
								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<label for="calificacion">{{descripcion}}</label>
											
										</div>
									</div>
									<div class="col-md-1">
										<div class="form-group">
											<input type="text" name="calificacion" value="{{calificacion}}" class="form-control text-center" maxlength="3">
										</div>
									</div>
									<div class="col-md-5">
										<div class="form-group py-2">
											<div class="progress">
												<div class="progress-bar bg-info" role="progressbar" style="width: {{calificacion}}%" aria-valuenow="{{calificacion}}" aria-valuemin="0" aria-valuemax="100">{{calificacion}}%</div>
											</div>
										</div>
									</div>
									<div class="col-md-1">
										<div class="form-group">
											<a href="/delete/habilidades/{{id}}" class="btn btn-danger">Eliminar</a>
										</div>
									</div>
								</div>
							{{/each}}
							<div class="row p-4">
								<div class="col-md-4 mx-auto">
									<div class="form-group">
										<button class="btn btn-success btn-block">Actualizar</button>
									</div>
								</div>
							</div>
						</div>
					</form>
					<div class="container">
						<a href="/add/habilidades/{{id}}" title="" class="btn btn-secondary" style="float: right;">Agregar Nuevo Registro</a>
					</div>
				</div><!--CARD BODY PRINCIPAL-->
			</div>
		</div>
	</div>
</div>