<div class="container p-4">
	<div class="row">
		<div class="col-md-12 mx-auto">
			<div class="card text-center">
				<div class="card-header">
					<h1>Agregar Experiencia</h1>
				</div>
				<div class="card-body">
					<form action="/add/experiencia/{{id}}" method="post" accept-charset="utf-8">
						<div class="row">
							<div class="col-md-4">
								<div class="form-group">
									<input type="text" name="titulo" class="form-control" placeholder="Área o División">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<input type="text" name="descripcion" class="form-control" placeholder="Descripción del Cargo">
								</div>
							</div>
							<input type="hidden" name="id_persona" value="{{id}}">
							<div class="col-md-4">
								<div class="form-group">
									<select name="id_instituto" class="form-control">
										{{#each instituto}}
											<option value="{{id}}">{{nombre}}</option>
										{{/each}}
									</select>
								</div>
							</div>
						</div>
						<div class="row pt-3">
							<div class="col-md-6">
								<div class="form-group">
									<a href="/update/experiencia/{{id}}" class="btn btn-primary col-md-12">Regresar</a>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<button class="btn btn-success btn-block">Guardar</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>